arrow==0.10.0
bottle==0.12.13
certifi==2017.4.17
chardet==3.0.4
click==5.1
colorama==0.3.9
gpiozero==1.4.0
html5lib==0.999
idna==2.5
lockfile==0.12.2
lxkeymap==0.1
mcpi==0.1.1
ndg-httpsclient==0.3.2
numpy==1.8.2
picamera==1.13
pifacecommon==4.2.1
pifacedigitalio==3.1.0
Pillow==2.6.1
platformio==3.3.1
pyasn1==0.1.7
pygame==1.9.2a0
pygobject==3.14.0
pyOpenSSL==0.13.1
pyserial==3.3
python-dateutil==2.6.0
requests==2.18.1
RPi.GPIO==0.6.3
RTIMULib==7.2.1
semantic-version==2.6.0
sense-hat==2.2.0
six==1.10.0
speedtest-cli==1.0.6
spidev==3.0
urllib3==1.21.1
virtualenv==15.1.0
